<div class="container">

<h1>search for stock</h1>
<form>
<div id="stock_lookup">
  <%= form_tag "#", method: :get, id: "stock_lookup_form" do%>
  <div class="form-row">
    <div class="col-md-8">
      <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control search-box input-lg" %>
    </div>
    <div class="col-md-4">
      <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
      <i class="fa fa-search"></i> Look up a stock
      <%end%>
    </div>
  </div>
  <% end %>
</div>
</form>
  </div>
